__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/

.ipynb_checkpoints/

runs/
outputs/
logs/
wandb/

*.pt
*.pth
*.ckpt

data/
datasets/
*.h5
*.hdf5
*.npy
*.npz
*.tdms
*.sgy
*.segy

.DS_Store
Thumbs.db
