thon
##################################
__pycache__/
*.pyc
*.pyo
*.pyd

##################################
# Virtual Env
##################################
.venv/
venv/
env/

##################################
# Notebook
##################################
.ipynb_checkpoints/

##################################
# OS
##################################
.DS_Store
Thumbs.db

##################################
# Logs
##################################
logs/
*.log
*.err
*.out

##################################
# Experiment outputs
##################################
runs/
outputs/
checkpoints/
wandb/

##################################
# Large model files
##################################
*.pt
*.pth
*.ckpt

##################################
# Dataset (핵심!)
##################################
data/
datasets/
raw_data/
output/
output_npy/
outputs/
old_outputs/

##################################
# Binary / large data formats
##################################
*.npy
*.npz
*.h5
*.hdf5
*.tdms
*.sgy
*.segy
*.gz
*.[0-9]

##################################
# Images (generated)
##################################
*.png
*.jpg
*.jpeg
__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/

.ipynb_checkpoints/

runs/
outputs/
logs/
wandb/

*.pt
*.pth
*.ckpt

data/
datasets/
*.h5
*.hdf5
*.npy
*.npz
*.tdms
*.sgy
*.segy


*.log
**/*.log
*.err
**/*.err

.DS_Store
Thumbs.db
